$primary-color:#4aa3e8;
$primary-outline-color:#011C26;
$primary-words-color:#ffffff;
$secondary-color:#ffffff;
$background-color:#111;
$border-color:#dddddd;
$gutter-color:#cccccc;
$faded-text-color:#999999;
$log-icon-color:#000000;
$log-icon-text-color:#ffffff;
$text-color:#86c7f9;
$nav-menu-dark-gray-bg:#2b2f33;
$nav-menu-light-words-color:#d1d2d3;
$nav-menu-hilight:rgba(34, 34, 34, 0.7);
$dark-words-color:#111;
