@import url('https://fonts.googleapis.com/css?family=Orbitron');


body {
  background: url(/game/uploads/theme_images/grid.png) repeat center top;
  background-color: $background-color;
  font-size: 12px;
  color: $primary-color;
  font-family: 'Orbitron', sans-serif;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.body-wrap {
  background: none;

  .body-container {
    padding: 0;

    &.left-body {
      padding-left: 10px;
    }
  }
}

.jumbotron img {
    max-width: 95%;
    width: 800px;
    opacity: .8;
}

/*------------ Navigation Menus ----------------*/

select {
  background: $nav-menu-dark-gray-bg;
}

li hr {
    border-image: linear-gradient(to left, transparent, #4aa3e8, transparent) 100% 1;
    border-width: 2px;
}

.dropdown-menu > li > a {
    color: $nav-menu-light-words-color;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: $nav-menu-hilight;
    color: $nav-menu-light-words-color;
}

.dropdown-menu{
  background: $nav-menu-dark-gray-bg;
  color: $nav-menu-light-words-color;
  box-shadow: 0 0px 5px rgb(101, 102, 121);
  -webkit-box-shadow:  0 0px 5px rgb(101, 102, 121);
}
/*------------End Menus ----------------*/

/*------------Side Bar Right------------*/
.right-sidebar {
  padding-top: 10px;
}

.sidebar-box {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  position: relative;
  color: #acacac;
  text-align: center;
  border: none;
  background-image: linear-gradient(0deg, transparent, #191919);
  background-color: rgba(39, 39, 39, 0.8);
  border-radius: 2px;

  p {
    padding-left: 5px;
  }

  .sidebar-link {
    text-align: center;
  }
}

.sidebar-heading {
  text-align: center;
  border-bottom: 1px solid $primary-color;
  background: rgba(39, 39, 39, 0.8);
  padding: 5px;
  margin-bottom: 10px;

  i {
    display: none;
  }


  h2 {
    font-family: 'Orbitron', sans-serif;
    border: none;
    color: $primary-color;
    line-height: 1.2em;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.tapered-rule {
  display: block;
  width: 100%;
  height: 4px;
  border: none;
  color: $primary-color;
  fill: $primary-color;
  stroke: $primary-color;
}

.label {
  padding: .2em .6em;
}

.panel {
   border-radius: 0;

  .panel-heading {
    background: #fcfcfc;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #f7f6f5;
    border-left: 4px solid $primary-color;
  }

  &.gear {
    margin-bottom: 15px;

    h4, h5 {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

  /*------- tables --------*/
.table-striped>tbody>tr:nth-of-type(odd) {
    background: #a8bbe3;
    color: $dark-words-color;
}

.table-striped>tbody>tr:nth-of-type(odd) a {
    color: #63697E;
}

.table-striped>tbody>tr:nth-of-type(even) a {
    color: #63697E;
}

.table-striped>tbody>tr:nth-of-type(even) a:hover, a:focus {
    color: #8790AD;
}

.table-striped>tbody>tr:nth-of-type(odd	) a:hover, a:focus {
    color: #8790AD;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background: #becbe6;
    color: $dark-words-color;
    }

.table-striped>thead>th {
    background: rgba(39, 39, 39, 0.8);
}

/*------- end tables --------*/

/*------- Alert boxes -------*/

.alert-info {
    color: #0a0a0a;
    background-color: #4cbcf3;
    border-color: #bce8f1;
}

.alert-warning {
    color: #0a0a0a;
    background-color: #4cbcf3;
    border-color: #bce8f1;
}


.alert-success {
  color: #baecbb;
  background-color: rgba(223, 240, 216, 0.2);
  border-color: #baecbb;
}

.alert-danger {
  color: #ff8e8c;
  background-color: rgba(220, 95, 95, 0.2);
  border-color: #ff8e8c;
}


/*-------Table of Contents------*/
.toc {
  background-color: rgba(39, 39, 39, 0.8);
  border-radius: 0;
  box-shadow: none;
  border: none;
 
}

/* ------Character pages--------- */

.comp{
  background-color: #383a4f;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}

.profile-box {
    color: #d1d2d3;
    background-color: rgba(39, 39, 39, 0.8);
    border-radius: 10px;
    opacity: .8;
}

.profile-box .row {
    border-bottom: 1px solid #383A4F;
    margin: 3px;
}

.profile-title {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1em;
}

.char-profile-gallery {
    border-radius: 5px;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    height: 200px;
    width: unset;
    margin: 10px;
    border: 2px solid #dddddd6e;
  }

  .relationship-icon {
      object-fit: cover;

  }
    /* ---------  Sheet ------------- */
  .sheet_header {
      background-color: #383A4F;
      color: #d1d2d3;
      font-weight: normal;
      letter-spacing: 0.1em;
      padding: 5px 25px;
      margin: 15px;
      font-family: "Libre Baskerville";
      font-size: 1.5em;
      font-variant: small-caps;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      border: 0px;
  }

  div.rating-wrapper {
      width: 55%;
      float: right;
      text-align: right;
      display: inline-block;
  }

  div.rating-block {
      width: 90%;
  }

  div.rating-numeric, div.rating-alpha {
      width: 100%;
  }

  div.rating-numeric {
      display: inline-block;
  }

  div.rating-alpha {
      color: rgb(116, 139, 165);
      display: none;
  }

  .rating-fill {
      color: rgb(116, 139, 165);
      opacity: 0.8;
  }

  .rating-empty {
      color: rgb(116, 139, 165);
      opacity: 0.6;
  }

  .alpha-numeric-switch {
      cursor: pointer;
      padding: 0px;
  }

  .alpha-numeric-switch:hover {
      color: rgb(116, 139, 165);
  }

    /* --------- End Sheet ------------- */
/* ------ End Character pages--------- */


.status-message {
  color: white;
  background-color: $primary-color;
  text-align: center; }

code {
    background: rgba(39, 39, 39, 0.8);
    padding: 3px;
}